.btn-primary {
    background: #006856;
    border: 2px solid #006856 !important;
    color: #FFF !important;
}

.btn-primary:hover {
    background: rgba(0, 0, 0, 0.5) !important;
}

.ubea-nav ul li > a {
    padding: 30px 20px;
}

.ubea-nav ul li.active > a {
    color: #006856 !important;
}

.ubea-nav ul li > a:hover {
    color: #006856 !important;
}

.ubea-cover a {
    color: #006856 !important;
}

.ubea-social-icons li a {
  color: #006856 !important;
}

.ubea-heading h2:before {
  background: #006856 !important;
}

#ubea-services .feature-left h3 {
  color: #006856 !important;
}

/* a:hover {
    color: #bdc3c7 !important;
} */

#ubea-offcanvas {
  color: black;
    background: white;
}

#ubea-offcanvas a {
    color: #006856;
}

#ubea-offcanvas ul li {
    padding: 5px;
}

#ubea-logo a img {
  max-width: 180px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.ubea-nav {
  padding: 10px;
}

#ubea-hero .btn.btn-primary:hover {
  background: #34495e !important;
  border: 2px solid #34495e !important;
}

::selection {
  color: #fff !important;
  background: #006856 !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #006856 !important; /* Gecko Browsers */
}

.ubea-accordion.active h3 {
  color: #006856;
}

element.style {
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 1;
    display: block;
    z-index: 2;
    height: 969px;
}

#email {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
}

.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #006856;
}

.well {
    background-color: rgba(0,0,0, 0.7) !important;
    color: #FFF;
  }

legend {
    color: #FFF;
  }

.form-control {
  color: #FFF;
}

#ubea-services .feature-left .icon i {
    color: #006856 !important;
}

.ubea-nav ul li > a {
    color: #000 !important;
}

.ubea-nav ul li.active > a {
    color: #006856 !important;
}

a {
  color: #006856;
}

a:hover {
  color: #000;
}

.active {
    color: #006856;
}

.ubea-cover.ubea-cover-xs {
    height: 750px;
}

.container {
    margin-top: 10%;
  }

  #ubea-hero .btn-primary:hover {
      background: rgba(0, 0, 0, 0.5) !important;
      border: 2px solid rgba(0, 0, 0, 0.5) !important;
  }

  #menu-phone {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #006856 !important;
  }

  .pull-center {
      text-align: center !important;
  }




.mySlides {
    display:none;
}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}

.w3-center{text-align:center!important}

.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}

.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   

.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}

.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}

.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar .w3-button{white-space:normal}

.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}

.w3-button:hover{color:#000!important;background-color:#ccc!important}
